.btn {
    display: block;
    margin-inline: auto;
    margin-top: 1.5em;
    padding: .5em 1em;
    border: none;
    border-radius: 10px;
    outline: 4px solid black;
    font-size: 1.25em;
    cursor: pointer;
  }
  